<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Youtube Video Downloader</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand font-weight-bold" href="#">Shivi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Youtube Video Downloader <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mp3 Converter</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Language
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">English</a>
                            <a class="dropdown-item" href="#">Hindi</a>
                            <a class="dropdown-item" href="#">French</a>
                        </div>
                    </li>
                    
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="jumbotron mt-5 text-center">
            <h2>Download Video & Audio from Youtube</h2>
            <form class="form-inline my-2 my-lg-0 justify-content-center pt-5">
                <input class="form-control mr-sm-2 border-success" type="search" placeholder="Search" aria-label="Search" style="width: 50%;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Download</button>
            </form>
        </div>

        {% block body %}

        {% endblock %}

        <div class="container text-center mt-5">
            <h4>About</h4>
            <p>Shivi Youtube video Downloader helps you to download video from Youtube. It is fast as your requirement.
                You can choose variety of formatea and qualities to download
            </p>
        </div>

        <div class="row mt-5">
            <div class="col-sm">
                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                    <img src="{{ url_for('static', filename = '/img/clock.png')}}" class="card-img-top img-reponsive" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Fast Downloading</h5>
                        <p class="card-text">Using our Youtube downloader is the fast and easy way to download 
                            and save any YouTube video to MP3 or MP4..</p>

                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                    <img src="{{ url_for('static', filename = '/img/infinite.png')}}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Unlimited Download</h5>
                        <p class="card-text">Download and convert YouTube videos as much as you want without 
                            limitation and always free.</p>

                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                    <img src="{{ url_for('static', filename = '/img/shield.png')}}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">100% Secure</h5>
                        <p class="card-text">With the rising awareness of device security, people attach great importance to 
                            personal data. The service is totally 
                            clean with no virus </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center mt-5 py-3">
            <p>@2021 Shihna.com</p>
            <p><a href="#">About</a><a href="#">FAQ</a><a href="#">Contact</a><a href="#">Privacy Policy</a></p>
        </div>
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

</body>

</html>